.assigned-values-tab {
  padding: 16px 24px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    &-actions {
      display: flex;
      gap: 8px;
    }
  }
}
