.home-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0 24px;
  flex-shrink: 0;

  &-logo {
    display: flex;
    align-items: center;
  }

  &-logo-img {
    height: 18px;
    width: auto;
    object-fit: contain;
  }

  &-right {
    display: flex;
    align-items: center;
  }

  &-avatar {
    background-color: #1C1F23;
    color: var(--semi-color-white);
    cursor: pointer;
  }
}
