.about-modal {
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 8px 32px;
  }

  &-logo {
    height: 64px;
    object-fit: contain;
    margin-bottom: 12px;
  }

  &-product {
    font-size: 16px;
    font-weight: 500;
    color: var(--semi-color-text-1);
    margin-bottom: 32px;
    letter-spacing: 1px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: center;
  }

  &-row {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
  }

  &-label {
    color: var(--semi-color-text-1);
  }

  &-value {
    color: var(--semi-color-text-0);
    font-weight: 500;
  }
}
