.rect-funnel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    max-width: 100%;
  }

  .rf-rect {
    transition: stroke 0.2s ease;
    cursor: pointer;

    &:hover {
      stroke: #4e83fd;
    }
  }
}
