// TemplateManagement 页面样式
.template-management {
  display: flex;
  flex-direction: column;
  height: 100%;

  // 面包屑区域
  &-breadcrumb {
    flex-shrink: 0;
  }

  // 标题区域
  &-header {
    padding-top: 20px;
    flex-shrink: 0;

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .title {
        margin: 0;
      }
    }

    &-toolbar {
      margin-bottom: 16px;
    }
  }

  &-back-btn {
    flex-shrink: 0;
  }

  // 表格区域
  &-table {
    flex: 1;
    overflow: hidden;
    min-height: 0;
  }

}
