.cost-baseline-section {
  display: flex;
  flex-direction: column;

  .cost-baseline-selected {
    margin: -8px 0 16px;

    &-title {
      display: block;
      margin-bottom: 8px;
    }
  }
}

.cost-baseline-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--semi-color-fill-0);
  }

  &.selected {
    background-color: var(--semi-color-primary-light-default);
    color: var(--semi-color-primary);
  }

  &-name {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-cost {
    flex-shrink: 0;
  }
}
