.notification-center-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .notification-center-header {
    flex-shrink: 0;
    margin-bottom: 16px;

    .title {
      margin-bottom: 4px;
    }
  }

  .notification-center-table-wrap {
    flex: 1;
    min-height: 0;
  }
}
