.department-path {
  display: inline-block;
  max-width: 100%;

  &__sep {
    color: var(--semi-color-text-2);
    margin: 0 2px;
  }

  &__node {
    color: var(--semi-color-text-1);
  }

  &__leaf {
    color: var(--semi-color-text-0);
  }
}
