.personal-credential-management {
  display: flex;
  flex-direction: column;
  height: 100%;

  .personal-credential-management-header {
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 16px;

    .personal-credential-management-header-toolbar {
      .personal-credential-management-search-input {
        width: 320px;
      }
    }
  }

  .personal-credential-management-table {
    flex: 1;
    overflow: hidden;

    .personal-credential-table-name {
      color: var(--semi-color-text-0);
      font-weight: 500;
    }

    .personal-credential-table-description {
      display: block;
      max-width: 100%;
      white-space: nowrap;
    }
  }
}
